@tailwind base; @tailwind components; @tailwind utilities;
:root { color-scheme: light; }
:root.dark { color-scheme: dark; }
body { background:white; color:#0b1020; }
:root.dark body { background:#0b1020; color:#f7f7fb; }
